<footer class="footer">
    <div class="container">
        <p class="text-muted">
        	Журнал Сити Сириль © 2016 -
        	<a href="{{ path('unsecure_press') }}">Пресс-файл</a>
        </p>
    </div>
</footer>